@import '../mixin';

.wrapper {
    display: flex;
    padding: 5rem 8rem;
    flex-direction: column;
    padding-bottom:0 ;
    width: 100%;
    height: 100%;
    gap: 2rem;
    .header {
        h4 {
            font-size: 2vmax;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        > div {
            display: flex;
            width: auto;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }
    }
    .body > * {
        margin-bottom: 0.5rem;
    }
}



.wrapper .body {
    height: calc(100dvh - 20rem);
    overflow: auto;

}

@include lg {
    .wrapper {
        padding: 5rem;
        padding-bottom:0 ;
    }
}
@include md {
    .wrapper {
        padding: 3rem;
        padding-bottom:0 ;
        .body {
            height: calc(100dvh - 15rem);
        }
    }
}
@include sm {
    .wrapper {
        padding: 3rem 2rem;
        padding-bottom:0 ;
        .header {
            flex-direction: column;
            gap: 0.8rem;
            > div {
                width: 100%;
                & > :nth-child(1) {
                    width: 100%;
                }
            }
        }
        .body {
            height: calc(100dvh - 10rem);
        }
    }
}
@include xs {
    .wrapper {
        padding: 3rem 1rem;
        padding-bottom:0 ;
        .header {   
            flex-direction: column;
            gap: 0.8rem;
            > div {
                width: 100%;
                flex-direction: column;
                & > :nth-child(1) {
                    width: 100%;
                }
                & > :nth-child(2) {
                    width: 100%;
                }
            }
        }
        .body {
            height: calc(100dvh - 16rem);
        }
    }
}
