PORT=3000
MONGODB_URI=YOUR_MONGODB_URI


CLOUDINARY_URL=YOUR_CLOUDINARY_URL
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET


# To generate random secret key run following command:
```bash
node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
```

ACCESS_TOKEN_SECRET =YOUR_ACCESS_TOKEN_SECRET
ACCESS_TOKEN_EXPIRY ='1d'
REFRESH_TOKEN_SECRET =YOUR_REFRESH_TOKEN_SECRET
REFRESH_TOKEN_EXPIRY ='5d'


ALLOWED_ORIGIN = 'http://localhost:5173'


IPINFO_API_KEY=YOUR_IPINFO_API_KEY

