@import '../colors';
@import '../mixin';

.setting-page {
    width: 100%;
    display: flex;
    padding: 5rem 8rem;
    flex-direction: row;
    gap: 3vmax;
    .profile-container {
        overflow: hidden;
        min-width: 20%;
        display: flex;
        align-items: center;
        height: fit-content;
        gap: 2rem;
        flex-direction: column;
    }
    .setting-container{
        width: calc(100% - (20% + 3rem));
        max-height: calc(100vh - 14rem);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        overflow-y: auto;
        overflow-x: hidden;
        h4{
            font-size: 1.2vmax;
        }
        >p{
            text-align: center;
            font-size: 1.5vmax;
            font-weight: 600;
            color: var(--text-defualt);
        }
        .field-container{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            text-wrap: wrap;
            .inputs{
                display: flex;
                width: 100%;
                justify-content: space-between;
                gap: 3rem;
                
            }
            p {
                color: var(--text-placeholder);
                font-size: .8vmax;
            }
        }
    }
}


.delete-wrapper{
    display: flex;
    color: var(--text-placeholder);
    flex-direction: column;
    gap: 1rem;
    width: auto;
    h4{
        font-size: 1.2vmax;
    }
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 8px;
        background-color:  var(--page-default);
    }
    .footer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 12px;
        background-color:  var(--page-default);
        user-select: all;
        p{
            font-size: 1vmax;
        }
    }
    .content{
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        span{
            font-size: 1vmax;
        }
        p{
            width: 300px;
            margin: 0 1rem;
            text-align: center;
            font-size: .8vmax;
        }
    }
}


@include lg{
    .setting-page{
        padding: 1rem;
    }
}
@include xl{
    .setting-page{
        padding: 1rem;
    }
}
@include md{
    .setting-page{
        padding: 1rem;
    }
}
@include sm{
    .setting-page{
        padding: 1rem;
        flex-direction: column-reverse;
    }
    .setting-container{
        min-width: 100%;
    }
}
@include xs{
    .setting-page{
        padding: 1rem;
        flex-direction: column-reverse;
    }
    .setting-container{
        min-width: 100%;
    }
}