@import '../mixin';
@import '../colors';

$height_sm: 24px;
$width_sm: 48px;

.switch {
    @include setSize($height_sm, $width_sm);
    appearance: none;
    outline: none;
    display: inline-block;
    background-color: var(--switch-background-off);
    position: relative;
    cursor: pointer;
    border-radius: 28px;
    &::after {
        content: '';
        position: absolute;
        @include setSize(18px, 18px);
        background-color: var(--switch-tab);
        top: 3px;
        left: 3.5px;
        border-radius: 50%;
        transition: transform 0.3s ease-in-out;
    }
    &:checked {
        &::after {
            transform: translateX(24px);
        }
        background-color: var(--switch-background-on);
    }
}
