@import '../colors';
@import '../mixin';

// .input-wrapper {
//     border: 1px solid var(--border-default);
//     color: var(--text-medium);
//     background-color: var(--background-surface-layer-02);
//     display: flex;
//     border-radius: 6px;
//     // padding-right: 6px;
//     flex-direction: row;
//     align-items: center;
//     // justify-content: space-between;
//     width: fit-content;
//     &-fullWidth {
//         width: -webkit-fill-available;
//     }

//     &-focus {
//         outline: 1.5px solid #646cff;
//     }
//     .icon {
//         display: flex;
//         align-items: center;
//         cursor: pointer;
//         margin-left: -30px;
//     }
//     input {
//         border-radius: 6px;
//         outline: none;
//         padding: 12px;
//         border: none;
//         width: 100%;
//         color: var(--text-placeholder);
//         background: transparent;
//     }
// }
.input-wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 6px;
    &-fullWidth {
        width: -webkit-fill-available;
    }
}
.textInput {
    width: 100%;
    @include input();
    padding-right: 34px;
}
.icon {
    cursor: pointer;
    margin-left: -30px;
}
