@import '../colors';
@import '../mixin';
.home {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    h1 {
        text-align: center;
        font-size: 2vmax;
    }
    color: var(--text-defualt);
    padding: 10px;
    .performance {
        gap: 1rem;
        padding: 5rem 8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    h6 {
        font-size: 1.2vmax;
    }
    .top-project {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 0.5rem;
    }
    .analytics {
        flex: 0 0 30%;
        .body {
            margin-top: 0.5rem;
            height: calc(100% - (0.6rem + 1.2vmax));
        }
    }
    .short-links {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-inline:8rem;
        padding-bottom: 5rem ;
        width: 100%;
    }
}

@include md {
    .home {
        .performance {
            padding: 1rem;
            flex-direction: column-reverse;
        }
    }
}
@include sm {
    .home {
        .performance {
            padding: 1rem;
            flex-direction: column-reverse;
            gap: 1rem;
        }
        .short-links{
            padding-inline: 1rem;
        }
    }
}
@include xs {
    .home {
        .performance {
            padding: 1rem;
            flex-direction: column-reverse;
        }
        .short-links{
            padding-inline: 1rem;
        }
    }
}
@include lg {
    .home {
        .performance {
            padding: 1rem;
        }
        .short-links{
            padding-inline: 1rem;
        }
    }
}
@include xl {
    .home {
        .performance {
            padding: 1rem;
        }
        .short-links{
            padding-inline: 1rem;
        }
    }
}
