@import './colors';
@import './mixin';

.main {
    width: 100%;
    height: auto;
    background: #121212;
    overflow-x: hidden;
    header {
        width: 100dvw;
        z-index: 999;
        position: fixed;
        background: transparent;
        backdrop-filter: blur(10px);
        nav {
            width: 100%;
            padding: 1rem 8rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .site-title {
                text-transform: uppercase;
                font-size: 2rem;
                font-weight: 800;
                color: #dadada;
            }
            button {
                border: none;
                padding: 10px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                cursor: pointer;
                transition: border hover 0.2s linear;
                border-radius: 12px;
                font-size: default;
                font-weight: 600;
                color: #dadada;
                background-color: #4a6dd9;

                &:active {
                    border: 1.5px solid #646cff;
                }

                &:hover {
                    filter: brightness(118%);
                }
            }
        }
    }
    section {
        width: 100dvw;
        padding-inline: 1rem;
    }
    .section_1 {
        height: 98dvh;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        color: #f0f8ff;
        text-align: center;
        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 30%;
            height: 314px;
            width: 675px;
            filter: blur(400px);
            opacity: 0.15;
            z-index: -1;
        }
        &::before {
            right: 50%;
            background-color: #6f00ff86;
        }
        &::after {
            left: 50%;
            background-color: #ff00c88c;
        }
        h1 {
            font-weight: 800;
            font-size: 4rem;
            text-transform: uppercase;
        }
        p {
            width: 25%;
            font-weight: 200;
            font-size: 18px;
            color: #948b8b;
        }
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            flex-wrap: wrap;
        }
        a {
            text-decoration: none;
        }
        button {
            border: 1px solid #2b3036;
            padding: 16px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            cursor: pointer;
            transition: border 0.1s linear;
            border-radius: 12px;
            font-size: default;
            font-weight: 600;
            color: #dadada;
            background-color: #121212;

            &:active {
                border: 1.5px solid #646cff;
            }

            &:hover {
                border: 1.5px solid #646cff;
                filter: brightness(118%);
            }
        }
    }
    .section_2,
    .section_3,
    .section_4,
    .section_5 {
        min-height: 60dvh;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .wrapper {
        width: 75%;
        justify-content: space-between;
        display: flex;
        gap: 2rem;
        .text {
            text-align: left;
            flex: 1;
            h3 {
                text-transform: capitalize;
                font-size: 30px;
                font-weight: 600;
                color: #f0f8ff;
                margin-bottom: 1rem;
            }
            p {
                color: #9ba3b4;
                font-size: 16px;
                font-weight: 500;
                line-height: 160%;
            }
        }
    }
    .image {
        width: 45rem;
        height: fit-content;
        overflow: hidden;
        border: 1px solid #2b3036;
        margin-inline: 1rem;
        border-radius: 20px;
        // mask-image: linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.2));
        transform: skewX(8deg);
        cursor: pointer;
        transition: border 0.1s linear;
        &:hover {
            border: 1.5px solid #646cff;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    .tech {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4 {
            text-transform: capitalize;
            font-size: 40px;
            font-weight: 600;
            color: #f0f8ff;
            margin-bottom: 1rem;
        }
        p {
            color: #9ba3b4;
            font-size: 16px;
            text-align: center;
            font-weight: 500;
            line-height: 160%;
        }
        .box {
            margin-block: 3rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            max-width: 60rem;
            .card {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 1rem;
                width: 19rem;
                height: 14rem;
                border: 1px solid #2b3036;
                padding: 1rem;
                border-radius: 12px;
                transition: border 0.1s linear;
                cursor: pointer;
                &:hover {
                    border: 1.5px solid #646cff;
                }
                h3 {
                    text-transform: capitalize;
                    font-size: 26px;
                    font-weight: 600;
                    color: #f0f8ff;
                }
                p {
                    font-size: smaller;
                    text-align: start;
                }
                div {
                    height: 3rem;
                    aspect-ratio: 1;
                    background: #242424;
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

@include md {
    .main {
        header {
            nav {
                padding: 1rem;
                .site-title {
                    font-size: 1.5rem;
                }
            }
        }
        .section_1 {
            h1 {
                font-size: 3rem;
            }
            p {
                width: 60%;
            }
        }
        .wrapper {
            flex-direction: column;
            align-items: center;
        }
        section {
            margin-bottom: 2rem;
        }
    }
}
@include sm {
    .main {
        header {
            nav {
                padding: 1rem;
                .site-title {
                    font-size: 1.5rem;
                }
            }
        }
        .section_1 {
            h1 {
                font-size: 3rem;
            }
            p {
                width: 70%;
            }
        }
        .wrapper {
            flex-direction: column;
            align-items: center;
        }
        .image {
            width: 30rem;
        }
        section {
            margin-bottom: 2rem;
        }
    }
}
@include xs {
    .main {
        header {
            nav {
                padding: 1rem;
                .site-title {
                    font-size: 1.5rem;
                }
            }
        }
        .section_1 {
            h1 {
                font-size: 2rem;
            }
            p {
                width: 80%;
            }
        }
        .wrapper {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        .image {
            width: 20rem;
        }
        section {
            margin-bottom: 2rem;
        }
    }
}
@include lg {
    .main {
        .section_3,
        .section_5 {
            .wrapper {
                flex-direction: row-reverse;
            }
        }
    }
}
@include xl {
    .main {
        .section_3,
        .section_5 {
            .wrapper {
                flex-direction: row-reverse;
            }
        }
    }
}
@include xxl {
    .main {
        .section_3,
        .section_5 {
            .wrapper {
                flex-direction: row-reverse;
            }
        }
    }
}
